@page "/Game"
@using BlazorApp.Controller.Enums
@using BlazorApp.Controller.Factory

@inject Identification identification
@inject IModalService modal  

<h3>Game</h3>

@if (identification.Player != null)
{
    <style>
        .tile {
            background: red;
            display: flex;
            justify-content: center;

            border: 1px solid;
            height: 50px;
            font-size: 0.8em;
        }
    </style>
    @identification.Game.IsPlayerFirst
    @if (identification.Game.IsPlayerTurn)
    {
        <button @onclick="PlayerPlay"class="btn btn-primary">Enter Coordinate</button>
    }
    @if (!identification.Game.IsPlayerTurn)
    {
        <button @onclick="IaPlay"class="btn btn-primary">Makes Ia Play</button>
    }
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Your board : </p>
                @((MarkupString)Debug(identification.Player.GameBoard))
            </div>
            <div class="col">
                <p>Ennemy board :</p>
                @((MarkupString)DrawFiring(identification.Player.FiringBoard))
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>IA board : </p>
                @((MarkupString)identification.Ia.Debug())
            </div>
            <div class="col">
                <p>Ennemy board :</p>
                @((MarkupString)DrawFiring(identification.Ia.FiringBoard))
            </div>
        </div>
    </div>
}

@code {
    public string X;
    public string Y;

    public void IaPlay()
    {
        identification.Game.IsPlayerTurn = identification.Game.IaShoot(Utility.Random(0, identification.Player.GameBoard.Width), Utility.Random(0, identification.Player.GameBoard.Height));
        this.StateHasChanged();
    }

    public void PlayerPlay()
    {
        modal.Show<Coordinate>("Modal Popup Example");
        this.StateHasChanged();
    }

    public string Debug(GameBoard gb)
    {
        string temp = "<div class=\"container\" style=\"width: 800px\">";
        int index = 0;
        for(int h = 0; h < gb.Height; h++)
        {
            temp += "<div class=\"row\">";
            for(int w = 0; w < gb.Width; w++)
            {
                index = w * gb.Width + h;
                string color = "";
                if(gb.Tiles[index].OccupationType == Occupation.Empty)
                {
                    color = "background-color: red;";
                }
                else
                {
                    if (gb.Tiles[index].OccupationType == Occupation.Near)
                    {
                        color = "background-color: blue;";
                    }
                    else
                    {
                        color = "background-color: green;";
                    }
                }
                temp += $"<div class=\"col\" style=\"{color}justify-content: center;display: flex;border: 1px solid;height:50px\">{Utility.DescriptionAttr(identification.Player.GameBoard.Tiles[index].OccupationType)}</div>";
            }
            temp += "</div>";
        }
        temp += "</div>";
        return temp;
    }

    public string DrawFiring(GameBoard f)
    {
        string temp = "<div class=\"container\" style=\"width: 800px\">";
        int index = 0;
        for(int h = 0; h < f.Height; h++)
        {
            temp += "<div class=\"row\">";
            for(int w = 0; w < f.Width; w++)
            {
                index = w * f.Width + h;
                string color = "";
                if(f.Tiles[index].IsShot)
                {
                    color = "background-color: purple;";
                    if (f.Tiles[index].IsABoat())
                    {
                        color = "background-color: green;";
                    }

                }
                else
                {
                    color = "background-color: red;";
                }
                temp += $"<div class=\"col\" style=\"{color}justify-content: center;display: flex;border: 1px solid;height:50px\">{Utility.DescriptionAttr(identification.Player.GameBoard.Tiles[index].OccupationType)}</div>";
            }
            temp += "</div>";
        }
        temp += "</div>";
        return temp;
    }

    public string Rebug()
    {
        string temp = "<div class=\"container\" style=\"width: 800px; flex-wrap: nowrap; \">";
        int index = 0;
        for(int h = 0; h < identification.Player.FiringBoard.Height; h++)
        {
            temp += "<div class=\"row\">";
            for(int w = 0; w < identification.Player.FiringBoard.Width; w++)
            {
                index = w * identification.Player.FiringBoard.Width + h;
                string color = "";
                if(identification.Player.FiringBoard.Tiles[index].OccupationType == Occupation.Empty)
                {
                    color = "background-color: red;";
                }
                else
                {
                    if (identification.Player.FiringBoard.Tiles[index].OccupationType == Occupation.Near)
                    {
                        color = "background-color: blue;";
                    }
                    else
                    {
                        color = "background-color: green;";
                    }
                }
                if(identification.Player.FiringBoard.Tiles[index].OccupationType != Occupation.Empty)
                {
                    color = "background-color: blue;";
                }
                Tile t = identification.Player.FiringBoard.Tiles[index];
                string toShow = "";
                if (t.OccupationType == Occupation.Empty)
                {
                    toShow = t.X + "/" + t.Y;
                }
                else
                {
                    toShow = Utility.DescriptionAttr(t.OccupationType);
                }
                temp += $"<div class=\"col tile\" >{toShow}</div>";
            }
            temp += "</div>";
        }
        temp += "</div>";
        return temp;
    }
}
